.btn {
    background-color: rgba(0,0,0,0);
    border-radius: 5;
    color: #FF0000;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.avatar {
    opacity: 0;
}

.minutes{
    color: #FF0000;
    font-family: FontAwesome;
    font-size: 50;
    margin-top: 100px;
    margin-left: 250px;
}

.seconds{
    color: #FF0000;
    font-family: FontAwesome;
    font-size: 50;
    margin-top: 100px;
    margin-left: 450px;
}
.page {
    background: linear-gradient(to bottom, white,skyblue);
}